<header>
    <div class="header flex bgm-header-footer">
        <div class="flex flex-col">
            Home
        </div>
        <div class="flex flex-col">
            Learn
        </div>
        <div class="flex flex-col">
            About
        </div>
    </div>
</header>

<div class="container">
    <div class="box">
        <div class="flex-row box center card-effect">
            <h1 class="flex center"> About </h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque reprehenderit, non maiores modi accusantium sit ducimus fugiat maxime ad blanditiis ipsa dolore quod assumenda? Quod porro pariatur repellat quos quidem?</p>
        </div>
        <div class="flex-row box center card-effect">
            <h1 class="flex center"> Learn </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem consequuntur non voluptas? Cumque eligendi, non nostrum fugit esse quidem repellendus architecto, animi impedit velit dolorum id ipsum, neque facilis quo?</p>
        </div>
        <div class="flex-row box center card-effect">
            <h1 class="flex center"> Enquire </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur doloremque quod debitis soluta earum nisi aliquid maxime minima. Animi, ipsa velit? Possimus nihil fugit aliquam recusandae tenetur illum natus rerum.</p>
        </div>
        <div class="flex flex-row box center card-effect">
            <h1 class="flex center"> what our students has to say </h1>
            <div class="flex-row">
                <div class="flex-col flex-50">
                    <img src="./../../assets/e22.jpg" alt="" class="img-effect">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quia delectus nisi, repellendus saepe praesentium blanditiis quam quis. Veniam ut repellat reiciendis illum consectetur earum eaque quidem placeat et dolorum!</span>                
                </div>
                <div >
                    </div>
                <div class="flex-50">
                    <img src="./../../assets/e3.jpg" alt="" class="img-effect">
                </div>
                <div class="flex flex-50">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quia delectus nisi, repellendus saepe praesentium blanditiis quam quis. Veniam ut repellat reiciendis illum consectetur earum eaque quidem placeat et dolorum!</p>
                </div>
                <div class="flex-50">
                    <img src="./../../assets/e4.jpg" alt="" class="img-effect">
                </div>
                <div class="flex flex-50">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quia delectus nisi, repellendus saepe praesentium blanditiis quam quis. Veniam ut repellat reiciendis illum consectetur earum eaque quidem placeat et dolorum!</p>
                </div>
    
            </div>

        </div>
    </div>
</div>


<footer class="footer-flex-container bgm-header-footer">
    <ul>
        <li>
            Home
        </li>
        <li>
            About
        </li>
        <li>
            Contact
        </li>
        <li>
            Learn
        </li>
    </ul>
</footer>